TZ=Asia/Shanghai

MYSQL_DATABASE=b3log_bluebook
MYSQL_USER=bluebook
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me

APP_PORT=8089
SERVER_SCHEME=http
SERVER_HOST=localhost
SERVER_PORT=8089

RUNTIME_DB=MYSQL
JDBC_DRIVER=com.mysql.cj.jdbc.Driver
JDBC_URL=jdbc:mysql://mysql:3306/b3log_bluebook?useUnicode=yes&characterEncoding=UTF-8&useInformationSchema=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true

RSA_PRIVATE_KEY_PATH=/run/secrets/rsa_private.pem
RSA_PUBLIC_KEY_PATH=/run/secrets/rsa_public.pem
